.hello-container {
  background-color: #1b1b1e;
  height: 3525px;
}

@media (max-width: 768px) {
  .home-main {
    padding-top: 5px;
  }

  .numbered-menu {
    opacity: 20%;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 2rem;
    line-height: 75px;
    color: #fff;
    margin-left: 5%;
  }

  .intro {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    margin-left: 6%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.5rem;
    line-height: 18px;
    color: #fff;
  }

  .mobile-ellipse {
    position: absolute;
    top: 24%;
    left: 80%;
    width: 40px;
    height: 40px;
  }

  .name {
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-weight: 400;
    font-size: 45px;
    line-height: 50px;
    margin-left: 5%;
  }

  .intro-para {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 18px;
    margin: 25px 5% 5% 5%;
    color: #fff;
  }

  .my-works {
    margin: 5%;
    font-family: 'Roboto', sans-serif;
    color: #db4747;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.09px;
  }

  .home-main hr {
    width: 70px;
    margin: 5%;
  }

  .socials {
    display: flex;
    justify-content: center;
    margin: 15px 5%;
    padding-bottom: 20px;
    gap: 4%;
  }

  .medium {
    margin-top: 1px;
  }
}

@media (min-width: 769px) {
  .home-container {
    display: flex;
    flex-direction: row-reverse;
    background-color: #1b1b1e;
  }

  .home-main {
    position: absolute;
    width: 664px;
    top: 10%;
    left: 15%;
    height: 100%;
  }

  .numbered-menu {
    position: absolute;

    /* top: 5%; */
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 4rem;
    line-height: 150px;
    color: #fff;
    opacity: 20%;
  }

  .intro {
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 24px;
    color: #fff;
  }

  .desktop-ellipse {
    position: absolute;
    top: 20%;
    left: 75%;
  }

  .name {
    position: absolute;
    top: 20%;
    left: 9%;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 50px;
    color: #fff;
    line-height: 110px;
  }

  .last-name {
    position: absolute;
    top: 35%;
  }

  .intro-para {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 9%;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
  }

  .my-works {
    position: absolute;
    top: 75%;
    left: 9%;
    font-family: 'Roboto', sans-serif;
    color: #db4747;
    padding-top: 15px;
  }

  .home-main hr {
    position: absolute;
    top: 80%;
    left: 30%;
    width: 70px;
  }

  .socials {
    position: absolute;
    top: 78%;
    left: 45%;
    padding-bottom: 20px;
    padding-right: 20px;
    display: flex;
    gap: 20px;
  }
}
